<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link href="{{url_for('static',filename='styles/styles.css')}}" rel="stylesheet" />
</head>

<body class="bg-{{ icon }}">
    <div class="weather-card">
        <h1>{{ title }} Weather</h1>
        <img class="weather-icon" src="https://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="{{ description }}" />
        <p class="desc">{{ description|capitalize }}</p>
        <p class="temp">🌡️ {{ temp }}°C</p>
        <p>Feels like: {{ feels_like }}°C</p>
        <p>💧 Humidity: {{ humidity }}%</p>
        <p>🌬️ Wind Speed: {{ wind_speed }} km/h</p>
    </div>

    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a city" />
        <button type="submit">Search</button>
    </form>
</body>

</html>